@import '_config';

.download_container{
    box-sizing: border-box;
    padding: 6rem 0 0 0;
    margin:0 auto;
    width: 90%;
}

.section_heading{
    font-size: 3rem;
    padding-bottom: .5rem;
    width: max-content;
    border-bottom: 3px solid #005499;
}

.download_maincon{
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;

    a{
        height: 24rem;
        width: 22rem;
        position: relative;
        margin: 1rem 2rem;
        border: 1px solid #e1e1e1;
        overflow: hidden;
        border-radius: 5px;

        &:nth-child(1){
            &::after{
                background-color: #005499;
            }
            .img_con{
                background-color: #00549960;
                img{
                    filter: invert(22%) sepia(35%) saturate(4532%) hue-rotate(188deg) brightness(94%) contrast(108%);
                }
            }
        }

        &:nth-child(2){
            &::after{
                background-color: #008000;
            }
            .img_con{
                background-color: #00800060;
                img{
                   filter: invert(26%) sepia(96%) saturate(1530%) hue-rotate(99deg) brightness(94%) contrast(103%);
                }
            }
        }

        &:nth-child(3){
            &::after{
                background-color: #800080;
            }
            .img_con{
                background-color: #80008060;
                img{
                   filter: invert(8%) sepia(91%) saturate(7492%) hue-rotate(298deg) brightness(72%) contrast(136%);
                }
            }
        }

        &:nth-child(4){
            &::after{
                background-color: #ffa500;
            }
            .img_con{
                background-color: #ffa50060;
                img{
                   filter: invert(63%) sepia(14%) saturate(3402%) hue-rotate(1deg) brightness(105%) contrast(103%);
                }
            }
        }

        &::after{
            position: absolute;
            content: 'Download';
            bottom: 0;
            left: 0;
            margin: auto;
            height: 4rem;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 0;
            opacity: 0;
            transition: 0.3s ease;
        }

        &:hover{
            &::after{
                width: 100%;
                opacity: 1;
            }

            .download_title{
                width: 0;
                opacity: 0;
                font-size: 0;
            }

            .img_con{
                img{
                    transform: translateY(-20px) rotate(-20deg);
                }
            }
        }
    }

    .down_content{
        .img_con{
            height: 20rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                transition: 0.3s ease;
                height: 80%;
            }
        }
    }

    .download_title{
        width: 100%;
        border-top: 1px solid #e1e1e1;
        height: 4rem;
        font-family: Inter;
        font-size: 1.6rem;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        overflow: hidden;
        align-items: center;
    }
}