@import "_config";

.publication_container {
  min-height: 80vh;
  width: max-content;
  max-width: 80%;
  margin: 0 auto;
  padding: 8rem 0 0 0;
  box-sizing: border-box;

  .publication_headline {
    color: #005499;
    font-size: 3rem;
    border-bottom: 4px solid #005499;
    box-sizing: border-box;
    margin-left: 2rem;
    width: max-content;
  }

  .journal_container {
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    width: max-content;
    max-width: 95.7%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 6rem auto;

    @include media("<=sm") {
      padding: 1rem;
      flex-direction: column;
      max-width: 100%;
      border-radius: 0;
    }
    @include media("<=sm",">xs"){
      width: 100vw;
      flex-wrap: wrap;
      flex-direction: unset;
    }
  }

  .journal {
    box-shadow: 0 0 3px 3px #00000029;
    min-width: 25rem;
    max-width: 25rem;
    border-radius: 5px;
    margin: 2rem;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .journal-image {
      height: 25rem;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;
      img {
        height: 90%;
        width: 70%;
        transition: 0.3s ease;
      }

      &:hover {
        img {
          transform: scale(0.9);
        }
      }
      @include media("<=sm") {
        height: auto;
      }
    }

    .journal-title {
      text-align: center;
      margin: 0 auto;
      box-sizing: border-box;
      line-height: 1.5rem;
      font-family: Inter;
      font-weight: bold;
      padding: 1rem 0;
      position: absolute;
      top: 0;
      background-color: #fff;
      width: 100%;
      left: 0;
      border-bottom: 2px solid #000;
    }

    .journal-link {
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      overflow: hidden;
      border: none;
      background-color: #fff;
      padding: 1rem 0;
      a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        border-radius: 5px;
        background-color: #005499;
        color: #fff;
        box-sizing: border-box;
        padding: 0.35rem 0;
        border: 0.15rem solid #005499;
        transition: 0.3s;

        &:hover {
          border: 0.15rem solid #005499;
          color: #005499;
          background-color: #00549930;
        }
      }
    }

    .indexing {
      width: 100%;
      box-sizing: border-box;
      padding: 0 1rem 0.5rem 1rem;
      color: #005499;
      font-weight: bold;
      font-family: SourceSansPro;
    }
    @include media("<=sm") {
      min-width: 90vw;
      max-width: 90vw;
      margin: 1rem 0;
    }
    @include media("<=sm",">xs"){
      max-width: 45vw;
      min-width: 45vw;
      margin: 1rem 0.6rem;
    }
  }
  @include media("<=sm") {
    padding: 0;
    max-width: 100%;
  }
}
