@import "_config";
.sidebar_container {
  position: fixed;
  right: -25rem;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  transition: 0.7s ease;
  width: 20rem;
  flex-direction: column;
  box-shadow: 0 0 5px 3px #00000029;
  height: 100%;
  justify-content: center;

  .toggle_sidebar_close {
    width: min-content;
    height: min-content;
    transition: 0.3s;
    cursor: pointer;
    position: absolute;
    top: 5rem;
    right: 16rem;

    img {
      width: 40px;
      height: 40px;
    }

    &:hover {
      right: 15.5rem;
      padding: 0 1rem;
    }

    @include media("<=xs") {
      top: 1rem;
      right: 0;
      left: 1.8rem;

      &:hover {
        right: unset;
        left: 2rem;
      }
    }
  }
  @include media("<=xs") {
    width: 100vw;
    right: calc(-100vw - 5rem);
  }
}

.link_container {
  height: max-content;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    a {
      border-bottom: 1px solid #ececec;
      &:last-child {
        border: none;
      }
    }
    .active {
      background-color: #0054994d;
    }
    li {
      list-style: none;
      height: 1.5rem;
      transition: 0.3s ease;
      text-transform: capitalize;
      font-size: 20px;
      padding: 1rem 2rem;
      font-family: Raleway;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0;
        width: 5px;
        transition: height 0.4s;
        border: none;
        background-color: #005499;
      }

      &:hover {
        background-color: #e9ecf1;
        color: #000;
        font-weight: bold;
        cursor: pointer;

        &::after {
          height: 100%;
          top: 0;
        }
      }
    }
  }
}
