@import '_config';

.special_session_container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    box-sizing: border-box;
}

.no-sessions{
    width: 60%;
    height: 60vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: Raleway;
    font-weight: bold;
}