@import '_config';

.sponsorship_container{
    min-height: 80vh;
    width: 90%;
    margin: 0 auto;
    padding: 8rem 0 0 0;
    box-sizing: border-box;

    .page_headline{
        width: 100%;
        border-bottom: 3px solid #cccccc;
        padding-bottom: 1rem;
        box-sizing: border-box;
        color: #005499;
    }

    .invi_letter_container{
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 5rem;
        padding: 1.5rem 2rem;
        box-sizing: border-box;

        h5{
            font-size: 1.5rem;
            &:last-child,&:nth-last-child(2){
                margin: 5px;
            }
        }

        .invi-body{
            line-height: 2.5rem;
            font-size: 1.5rem;
            text-align: justify;
        }

        .highlights_container{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .highlight{
                padding: 0.5rem 1.5rem;
                width: 100%;
                color: #005499;
                background-color: #00549940;
                border-radius: 10px;
                margin: 0.1rem 0;
                box-sizing: border-box;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: 2rem;
                box-shadow: 0 0 1px 1px #00000029;
                transition: .3s ease;
                z-index: 3;

                &:hover{
                    z-index: 4;
                    background-color: #000;
                    color: #fff;
                    width: 90%;
                    transform: scale(1.1) translateX(4rem)
                }
            }
        }
    }
}