<div class="main_footer">
    <div class="sub_footer">
        <div class="flexer">
            <div class="footer_logo">
                <img src="/assets/images/logo/piet.jpg" alt="">
            </div>
            <div class="d_flexer">
                <div class="quick_links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>Call For Papers</li>
                        <li>Important Dates</li>
                        <li>Conference Venue</li>
                        <li>Downloads</li>
                        <li>Submission Portal</li>
                    </ul>
                </div>
                <div class="contact_details">
                    <div class="mail_details">
                        <h3>Connect at</h3>
                        <span>icdam.conf@gmail.com</span>
                    </div>
                    <div class="social_accounts">
                        <span>Social Links</span>
                        <div>
                            <img src="/assets/images/svgs/logo-facebook.svg" alt="facebook">
                            <img src="/assets/images/svgs/logo-twitter.svg" alt="twitter">
                            <img src="/assets/images/svgs/logo-linkedin.svg" alt="linkedin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright &copy; International Conference on Data Analytics and Management | All Rights Reserved | Site By Varun dev</div>
    </div>
</div>