<div class="main_footer">
    <div class="sub_footer">
        <div class="flexer">
            <div class="footer_logo">
                <img src="/assets/images/logo/piet.jpg" alt="">
            </div>
            <div class="d_flexer">
                <div class="quick_links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="/papers" onclick="localStorage.setItem('active-link','	Call For Papers')">Call For Papers</a></li>
                        <li><a href="/#impdates">Important Dates</a></li>
                        <li><a href="/conference-venue">Conference Venue</a></li>
                        <li><a href="/#downloads">Downloads</a></li>
                        <li><a href="https://easychair.org/account/signin?l=6K8fBFViIWaOcgiDFQM5x4#">Submission Portal</a></li>
                    </ul>
                </div>
                <div class="contact_details">
                    <div class="mail_details">
                        <h3>Connect at</h3>
                        <a href="mailto:icdam.conf@gmail.com" class="fa fa-envelope"><span>icdam.conf@gmail.com</span></a>
                    </div>
                    <div class="social_accounts">
                        <span>Social Links</span>
                        <div>
                            <a href="https://m.facebook.com/icicc2021/"><img src="/assets/images/svgs/logo-facebook.svg" alt="facebook"></a>
                            <img src="/assets/images/svgs/logo-twitter.svg" alt="twitter">
                            <a href="https://www.linkedin.com/in/icicc-conf-31a3b6151/"><img src="/assets/images/svgs/logo-linkedin.svg" alt="linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">Copyright &copy; International Conference on Data Analytics and Management | All Rights Reserved | Site By Varun dev</div>
    </div>
</div>