<div class="main_header">
    <div class="sub_header mode-desktop">
        <div class="logo_space"></div>
        <div class="logo_container">
            <img src="/assets/images/logo/piet.jpg">
        </div>
        <div class="title_container">
            <h4 class="big-title">INTERNATIONAL CONFERENCE ON DATA ANALYTICS & MANAGEMENT : AN INDO-EUROPEAN CONFERENCE (ICDAM-2021) <br />
                ORGANISED JOINTLY BY : JAN WYZYKOWSKI UNIVERSITY, POLAND & PANIPAT INSTITUTE OF ENGINEERING AND TECHNOLOGY, INDIA
                <br /> 26th JUNE,2021
            </h4>
        </div>
        <div class="sidebar_toggler">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
    </div>
    <div class="sub_header mode-mobile">
        <div class="row">
            <div class="logo_container">
                <img src="/assets/images/logo/piet.jpg">
            </div>
            <div class="sidebar_toggler-mobile">
                <div class="ham"></div>
                <div class="ham"></div>
                <div class="ham"></div>
            </div>
        </div>
        <div class="row">
            <h4 class="big-title">INTERNATIONAL CONFERENCE ON DATA ANALYTICS & MANAGEMENT : AN INDO-EUROPEAN CONFERENCE (ICDAM-2021) <br />
                ORGANISED JOINTLY BY : JAN WYZYKOWSKI UNIVERSITY, POLAND & PANIPAT INSTITUTE OF ENGINEERING AND TECHNOLOGY, INDIA
                <br /> 26th JUNE,2021
            </h4>
        </div>
    </div>
</div>