<div class="main_header">
    <div class="sub_header mode-desktop">
        <div class="logo_space"></div>
        <div class="logo_container">
            <img src="/assets/images/KARKONOSZA-logo.JPG">
            <!--
            <img src="/assets/images/logo/piet.jpg">
            <img src="/assets/images/IES University Logo PNG.png" />
            <img src="/assets/images/IES College Logo.jpg" />
-->
        </div>
        <div class="title_container">
            <h4 style="text-align:center;">3rd International Conference on Data Analytics & Management (ICDAM-2022) <br />
            <span style=color:red><strong>ICDAM-2022 Theme:</strong> Data Analytics with Computer Networks </span>
            <br />
            <strong>Organized By:</strong>The Karkonosze University of Applied Sciences, Jelenia Gora, Poland, Europe
            <br /> 25th - 26th June, 2022
            <br /><strong style=color:red>DUE TO PANDEMIC CONDITIONS CONFERENCE WILL HAPPEN IN ONLINE MODE</strong> 
            </h4>
<!--
            <h4 class="big-title">
                THIRD INTERNATIONAL CONFERENCE ON DATA ANALYTICS & MANAGEMENT (ICDAM-2022) <br />
                <span style=color:red>ICDAM 2022 THEME: DATA ANALYTICS WITH COMPUTER NETWORKS</span>
                <br />
                ORGANISED BY : THE KARKONOSZA UNIVERSITY OF APPLIED SCIENCE, POLAND
            </h4>
-->
        </div>
        <div class="sidebar_toggler">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
    </div>
    <div class="sub_header mode-mobile">
        <div class="row">
            <div class="logo_container">
                <!--
                <img src="/assets/images/logo/piet.jpg">
                <img src="/assets/images/IISU logo PNG.png">
                <img src="/assets/images/IES University Logo PNG.png" />
-->
                <img src="/assets/images/KARKONOSZA-logo.JPG" />
            </div>
            <div class="sidebar_toggler-mobile">
                <div class="ham"></div>
                <div class="ham"></div>
                <div class="ham"></div>
            </div>
        </div>
        <div class="row">
            <h4 style="text-align:center;">3rd International Conference on Data Analytics & Management (ICDAM-2022) <br />
            <span style=color:red><strong>ICDAM-2022 Theme:</strong> Data Analytics with Computer Networks </span>
            <br />
            <strong>Organized By:</strong> The Karkonosze University of Applied Sciences, Jelenia Gora, Poland, Europe
            <br /> 25th - 26th June, 2022
            <br /><strong style=color:red>DUE TO PANDEMIC CONDITIONS CONFERENCE WILL HAPPEN IN ONLINE MODE</strong>

                <!--
                 JAN WYZYKOWSKI UNIVERSITY, POLAND & PANIPAT INSTITUTE OF ENGINEERING AND
                TECHNOLOGY, INDIA &
                IIS (DEEMED TO BE UNIVERSITY), JAIPUR, INDIA & IES UNIVERSITY, BHOPAL, INDIA
-->
            </h4>
        </div>
    </div>
</div>