<div class="sidebar_container">
    <div class="toggle_sidebar_close">
        <img src="/assets/images/svgs/arrow-forward-outline.svg" alt="">
    </div>
    <div class="link_container">
        <ul>
            <a href="/"><li>home</li></a>
            <a href="/about"><li>about</li></a>
            <a href="/papers"><li>papers</li></a>
            <a href="/special-sessions"><li>special sessions</li></a>
            <a href="/registrations"><li>registrations</li></a>
<!--            <a href="/sponsorship"><li>sponsorship</li></a>-->
<!--            <a href="/publication"><li>publication</li></a>-->
            <a href="/committe"><li>committee</li></a>
            <a href="/conference-venue"><li>conference venue</li></a>
            <a href="/downloads"><li>downloads</li></a>
            <a href="/previous-conference"><li>previous conferences</li></a>
        </ul>
    </div>
</div>