<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');

    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="about_component">
        <h1 class="about_headline">About</h1>
        <div class="about_toggle">
            <div class="about_uni activeitem">The Karkonosze University</div>
            <!-- <div class="about_uni" onclick="changeabout(2)">PIET University</div> -->
            <div class="about_uni">Universal Innovators</div>
            <!-- <div class="about_uni" onclick="changeabout(4)">IISU Jaipur</div>
            <div class="about_uni" onclick="changeabout(5)">IES University</div> -->

        </div>
        <div class="about_item activeabitem">
            The Karkonosze University of Applied Sciences, Jelenia Gora, Poland, Europe (former translation: Karkonosze College) is a Higher Education institution in Jelenia Góra, Poland.
            The University is the only autonomous higher education institution in the Karkonosze Region, therefore it aspires to fulfill its cultural obligations, offering a broad range of courses in the fields of social sciences and humanities as well as natural sciences and technology.
            The University, as one of the six Higher Education Institutions grouped in the Academic Co-ordination Centre in the Nisa-Nysa-Neisse Euroregion, maintains close ties with Czech and German Universities with which it has signed formal co-operation agreements. The institution holds an Erasmus Extended University Charter which allows it to intensify the international exchange of students, teachers, library and administrative staff.
            KPSW, located in the vicinity of the renowned Cieplice Spa, as its strategic goal, has undertaken to specialize in the education of disabled students, connected with their psychological and physical treatment.
        </div>
        <!-- <div class="about_item inactiveabitem">
            Panipat Institute of Engineering and Technology (PIET) was established by the Vidhya Peeth
            Education trust in the year 2006. It was the time when and NCR was striving of producing
            World Class technocrats and Managers. PIET was Self Financed Initiative by a Private Management
            which always had an eye on quality of technical education.
            The great philosophy of PIET management has created an edifice that is strengthening its
            foundation, which can only rise higher and higher. Quality and Integrity is the essence for
            achieving Excellence at PIET. Members of Executive Academic Advisory Board being eminent
            personalities and philanthropists which have been successful in their endeavors set out with a
            common desire to design to serve the community through value based education.
            When we look at some option of best engineering Institute in National Capital Region, PIET
            stands out of a clear leader. A Multidisciplinary institute affiliated to kurukshetra
            university, Kurukshetra approved by AICTE, New Delhi provides Undergraduate programs in
            Engineering and Management. PIET has consistently pushed the war of excellence to garner riche
            for itself among the Ten Engineering institute in Delhi/NCR in the field of Engineering
            Education.
            It has focus on its goal of producing Entrepreneurs, world class Manager and technocrats
            employable throughout the globe. The institute has one of the largest student populations among
            engineering colleges of NCR. PIET is the most preferred destination for the students from across
            the country which could be attributed to the quality of education, infrastructure, healthy
            teaching Learning practices as well as producing industry ready students.
            PIET is a family of aspiring students supportive parents, committed faculty and visionary
            Management who all are working together to make a difference in education field.
        </div> -->
        <div class="about_item inactiveabitem">
            Every success story begins with a vision. The Universal
            Innovators (UI) is a private and autonomous body promoting
            research based activities all over the world. The UI aims
            to do non-profit collaborative research in the field of
            engineering, applied sciences and management. We aim to
            be the leading independent academic and professional body
            working in collaboration with academicians, faculties,
            students, researchers and educational institutes. This
            leads us to be playing a creative and critical role in
            the society by disseminating teaching and research on a
            global scale, the cornerstones of which are good, long-term
            relationships, a focus on real life applications necessary
            for the welfare of the mankind, and an ability to combine
            quality and innovation. The mission of Universal Innovators
            is to cultivate and carry out research in high- tech
            methodologies. We deal in conducting FDP’s, workshops,
            seminars, and conferences. As a recognized body, Universal
            Innovators (UI) seeks to facilitate the availability of
            academic excellence and disseminate innovative knowledge
            worldwide.
        </div>
        <!-- <div class="about_item inactiveabitem">
            IIS (Deemed to be University), Jaipur (India) is among the pioneers in the of Rajasthan in
            imparting quality education to women in different streams. It is known for excellence in
            delivering value-based education to students and encourages them to think innovatively. It
            particularly focuses on preparing students to become world-ready citizens, who are equipped to
            take any professional and social challenges with an educated and empowered mind.
            The University is an exceptionally cosmopolitan and vibrant one based in one of the country’s
            most exciting and ethnically rich cities - the Pink City (Jaipur) and is placed in the category
            ‘A’ by the Ministry of Human Resource Development, Government of India. With over 5500 students,
            the University offers UG, PG and Doctoral programmes in Arts, Science, Social Sciences,
            Commerce, Management and Computer Science & IT.
            Our vision includes striving and seeking to cater to global educational needs combined with our
            goal of promoting international understanding and world fellowship through world class
            education. To accomplish the same, we are open to all kinds of collaborations, by partnering
            with foreign universities and research based institutes.
        </div> -->
        <!-- <div class="about_item inactiveabitem">
            IES University has been established under Section 2 (f) of UGC Act 1956 .
            In addition to the conventional courses in Engineering and Basic sciences the
            University offers flagship courses in the field of Engineering, Architecture,
            Agriculture, Pharmacy, Hotel Management, Mass Communication & Journalism, Nursing etc.
            IES University aspires to be a centre of academic research for promoting human
            excellence by imparting knowledge, enhancing skills and inculcating an innovative
            mindset in faculties as well as students for contributing to National growth
            and receiving Global acclaim.” A well reputed university offering courses in
            different academic disciplines and providing immense opportunities and
            assistance to students for overall personality development.
        </div> -->
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
</body>

</html>
