<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/assets/css/adminroutes.css">
</head>

<body>
    <h1>Admin Routes</h1>
    <div class="linkContainer">
        <a class="adminAnchors" href="/admin/committee">Steering Committee</a>
        <a class="adminAnchors" href="/admin">Technical Program Committee</a>
        <a class="adminAnchors" href="/admin">Advisory Committee</a>
        <a class="adminAnchors" href="/admin">European Technical Board</a>
    </div>
</body>

</html>