<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/committe.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
</head>
<body>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="committee_container">
        <div class="committee_page_options" data-active='0' tabindex="0">
            <span class="active_option">Steering Committee</span>
            <div class="coption_container vanish">
                <div class="coption cactive">Steering Committee</div>
                <div class="coption">Technical Program Committee</div>
                <div class="coption">Advisory Committee</div>
                <div class="coption">European Technical Board</div>
            </div>
        </div>

        <div class="steering_committee_container">
            <h1 class="section_heading">Steering Committee Members</h1>
            
        </div>
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
</body>
</html>