<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/downloads.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');

    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="download_container">
        <h1 class="section_heading">Downloads</h1>
        <div class="download_maincon">
            <a href="/assets/downloads/Manuscript guidelines for English books.pdf" download>
                <div class="down_content">
                    <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                    <div class="download_title">Manu Script Guidelines</div>
                </div>
            </a>
            <a href="/assets/downloads/Checklist.pdf" download>
                <div class="down_content">
                    <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                    <div class="download_title">Checklist</div>
                </div>
            </a>
            <a href="/assets/downloads/Springer Word Template.zip" download>
                <div class="down_content">
                    <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                    <div class="download_title">Springer Word Template</div>
                </div>
            </a>
            <a href="/assets/downloads/Springer LaTeX Template.zip" download>
                <div class="down_content">
                    <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                    <div class="download_title">Springer La Tex Template</div>
                </div>
            </a>
            
            <a href="/assets/submission-template/Special session CFP Template.docx" download>
                <div class="down_content">
                    <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                    <div class="download_title">Special Session CFP Template</div>
                </div>
            </a>
            
            
            <!--
                        <a href="/assets/downloads/Book_Contributor_EN (Limited) v1.1.docm" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">Consent To Publish Form Springer</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/Elsevier SSRN_Word Template.docx" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">Elsevier SSRN Template</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/ICDAM_2021_Elsevier_Template.pdf" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">ICDAM 2021 Elsevier Template(pdf)</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/ICDAM_2021_Elsevier_Template.pptx" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">ICDAM 2021 Elsevier Template(ppt)</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/ICDAM_2021_Springer_Template.pdf" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">ICDAM 2021 Springer Template(pdf)</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/ICDAM_2021_Springer_Template.pptx" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">ICDAM 2021 Springer Template(ppt)</div>
                            </div>
                        </a>
                        <a href="/assets/downloads/ICDAM-2021_Presentation Schedule_Springer.pdf" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/reader-outline.svg"></div>
                                <div class="download_title">ICDAM-2021 Presentation Schedule Springer</div>
                            </div>
                        </a>
                        <a href="/assets/images/Pastel Orange Cross Minimalist Retro Business Card.png" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/image-outline.svg"></div>
                                <div class="download_title">ICDAM-2021 Cover Photo</div>
                            </div>
                        </a>
                        <a href="/assets/images/Origins Leaf Logo Profile Picture.png" download>
                            <div class="down_content">
                                <div class="img_con"><img src="/assets/images/svgs/image-outline.svg"></div>
                                <div class="download_title">ICDAM-2021 Origins Leaf Photo</div>
                            </div>
                        </a>
-->
           
        </div>
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
    <script>
        document.querySelector(".download_container").style.cssText = "visibility: hidden; opacity: 0";
        document.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                document.querySelector(".download_container").removeAttribute("style")
            }, 1000)
        })

    </script>
</body>

</html>
