<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <meta name="keywords" content="conference, indo-european, icdam, ICDAM, Data, Analytics Management">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');
    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="home_component">
                    <!-- slider component -->
                    <div class="slider_component">
                        <div class="item active-citem conf-info">
                            <div class="mask"></div>
                            <img src="/assets/images/ICDAM-2022-BANNER.png">
                        </div>
                        <!--
                        <div class="item inactive-citem col-pic">
                            <div class="mask"></div>
                            <img src="/assets/images/Zmiany-na-polkowickiej-uczelni-i-w-magistracie1.jpg">
                        </div>
                        <div class="item inactive-citem col-pic">
                            <div class="mask"></div>
                            <img src="/assets/images/PIET.jpeg">
                        </div>
                        <div class="item inactive-citem col-pic">
                            <div class="mask"></div>
                            <img src="/assets/images/IIS.jpg">
                        </div>
                        <div class="item inactive-citem col-pic">
                            <div class="mask"></div>
                            <img src="/assets/images/IES.jpg">
                        </div>
-->
                    </div>

                    <!-- About Section -->
                    <div class="about_conf">

                        <!--
                        <p class="highlighted">
                           <h1 class="about-head">FREE WEBINAR FOR MS ASPIRANT</h1>
                            <h3>Get Admission in Top International University</h3>
                            <hr />
                           <img src="/assets/images/Free%20Webinar%20Banner-min.png"> 
                            <br>
                            <h1>Grab This Opportunity Now</h1>
                            <p>Get Top Quality Lectures And Counselling Session From World Class Teachers For Overseas MS Admission : Research Profile Focused Educational Consultants Win Admission In Top International Universities.
                            <p><strong>Date:</strong> 26<sup>th</sup> December 2021</p> 
                            <p><strong>Oragnized By:</strong> www.ui-educon.com</p>
                            <p><strong>Proceeding partner:</strong> Elsevier [SSRN] series.</p>
                            <p><a href="https://ui-educon.com/upcoming-webinars/">Click here to register</a>
                        </p>
                       
-->
                        <h1 class="about-head">About Conference</h1>
                        <hr />
                        <p>International Conference on Data Analytics and Management (ICDAM-2022) is organised with the
                            objective of bringing together innovative scientists, professors, research scholars,
                            students and industrial experts in the field of Computing
                            and Communication to a common forum. The primary goal of the conference is to promote the
                            exchange of innovative scientific information between researchers, developers, engineers,
                            students, and practitioners. Another goal is
                            to promote the transformation of fundamental research into institutional and industrialized
                            research and to convert applied exploration into real time application. Overall the
                            conference will provide the researchers and attendees
                            with prospects for national and international collaboration and networking among
                            universities and institutions from India and abroad for promoting research. ICDAM- 2022 is
                            organized by THE KARKONOSZE STATE UNIVERSITY OF APPLIED SCIENCE, POLAND on 25th - 26th
                            June 2022. All the accepted papers (after double blinded peer review) will be
                            published in <strong>
                                Springer’s Lecture Notes on Networks & Systems [Indexing: SCOPUS, INSPEC, EI Compendex, WoS] [Approved]
                            </strong> and extended selected papers will be published in the special issues of
                            SCI/SCOPUS/WoS/DBLP/ACM indexed Journals.
                        </p>

                        <p style="color: red;">All the accepted and presented paper in the conference will be published in the proceedings of ICDAM-2022 indexed by Scopus and other leading databases. Some of the high-quality works will be invited to submit their extended paper with minimum 70% extension in the following Journals:
                        <br>
                        Extended Journal List for ICDAM-2022
                        </p>
                        <ol style="color:red; font-size: 20px; line-height: 35px;">
                            <li>Sustainable Energy Technologies and Assessments (Elsevier), SCIE Indexed IF 5.35</li>

                            <li>CMES-Computer Modeling in Engineering & Sciences, SCIE Indexed IF 1.59</li>

                            <li>Intelligent Decision Technologies, Indexed by SCOPUS & ESCI</li>
                            
                            <li>IET Communications, SCIE Indexed IF 1.19</li>
                            
                            <li>Frontiers in Computational Neuroscience, SCIE Indexed IF 2.38</li>
                            
                            <li>CMC-Computers, Materials & Continua, SCIE Indexed IF 3.77</li>
                        </ol>
                        
                        <span>Paper Submission Link : <a target="_blank"
                                href="https://easychair.org/conferences/?conf=icdam2022">Easy Chair Submission
                                Portal</a></span>

                    </div>

                    <div class="marquee_section">
                        <div class="downloads_marquee marquee_list" id="downloads">
                            <div class="marquee_headline">Downloads</div>
                            <div class="item-list">
                                <div class="itemdlist">
                                    <span>Manu Script Guidelines</span>
                                    <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span>
                                </div>
                                <div class="itemdlist">
                                    <span>Checklist</span>
                                    <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span>
                                </div>
                                <div class="itemdlist">
                                    <span>Springer Word Template</span>
                                    <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span>
                                </div>
                                <div class="itemdlist">
                                    <span>Springer La Tex Template</span>
                                    <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span>
                                </div>
                                <!--
                                <div class="itemdlist">
                                    <span>Consent to Publish Form Springer</span>
                                    <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span>
                                </div>
-->
                            </div>
                        </div>
                        <div class="impdates_marquee marquee_list" id="impdates">
                            <div class="marquee_headline">Important Dates</div>
                            <div class="item-list">
                                <div class="itemilist">
                                    <span class="devent">Registration Deadline</span>
                                    <span class="date">25th April 2022</span>
                                </div>
                                <div class="itemilist">
                                    <span class="devent">Submission Deadline</span>
                                    <span class="date">25th March 2022</span>
                                </div>
                                <div class="itemilist">
                                    <span class="devent">Notification of Accept/Reject</span>
                                    <span class="date">15th April 2022</span>
                                </div>
                                <div class="itemilist">
                                    <span class="devent">Final Paper Due</span>
                                    <span class="date">30th April 2022</span>
                                </div>
                                <div class="itemilist">
                                    <span class="devent">Conference Date</span>
                                    <span class="date">25th - 26th June 2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="notices_marquee marquee_list">
                            <div class="marquee_headline">Notices</div>
                            <div class="item-list">
                                <div class="itemnlist">ICDAM-2022 will be held at KPSW, Poland</div>
                                <!--
                                <div class="itemnlist">ICDAM-2022is Jointly organised by JAN WYZYKOWSKI UNIVERSITY,
                                    POLAND & PANIPAT INSTITUTE OF ENGINEERING AND TECHNOLOGY, INDIA</div>
                                <div class="itemnlist">Proceedings of ICDAM 2022has been approved by Springer. All the
                                    accepted papers will be published in Springer “Lecture Notes on Data Engineering and
                                    Communications Technologies” (https://www.springer.com/series/15362).</div>
                                <div class="itemnlist">The selected high quality extended papers of the conference will
                                    be invited to submit for publication in the special issues of the following
                                    journals: Multimedia Tools and Applications (SCI), Expert Systems (SCI), Electronics
                                    (SCI), IJHPSA (Scopus), IJICT (Scopus), IJPCC (Scopus, ESCI), IJPE (Scopus) and many
                                    more.
                                </div>
                                <div class="itemnlist">
                                    As per the review reports some of the papers can be accepted for publication in
                                    Elsevier SSRN series.
                                </div>
-->
                            </div>
                        </div>
                    </div>

                    <!-- partners section -->
                    
                    <h1 class="pro-partners">Academic Partner</h1>
                    <div class="partner_container">
                        <div class="partner_box">
                            <img src="/assets/images/logo_ucv2.png">
                            <span class="partner-title">University of Craiova</span>
                        </div>
<!--
                        <div class="partner_box">
                            <img src="/assets/images/partners/14.png">
                            <span class="partner-title">Lecture Notes on Data Engineering <br /> and Communication
                                Technologies</span>
                        </div>
-->
                    </div>


                    <%- include("./Components/footer.ejs") %>
                </div>
                <script src="/assets/scripts/jquery.js"></script>
                <script src="/assets/scripts/operations.js"></script>
                <script src="/assets/scripts/smoothscroll.js"></script>
</body>

</html>