<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
</head>
<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="home_component">
        <!-- slider component -->
        <div class="slider_component">
            <div class="item active-citem conf-info">
                <div class="mask"></div>
                <img src="/assets/images/icdamconf.png">
            </div>
            <div class="item inactive-citem col-pic">
                <div class="mask"></div>
                <img src="/assets/images/Zmiany-na-polkowickiej-uczelni-i-w-magistracie1.jpg">
            </div>
            <div class="item inactive-citem col-pic">
                <div class="mask"></div>
                <img src="/assets/images/2019-09-03.jpg">
            </div>
            <div class="item inactive-citem col-pic">
                <div class="mask"></div>
                <img src="/assets/images/IIS.jpg">
            </div>
        </div>

    <!-- About Section -->
        <div class="about_conf">
            <h1 class="about-head">About Conference</h1>
            <hr />
            <p>International Conference on Data Analytics 
                and Management (ICDAM-2021) is organised 
                with the objective of bringing together 
                innovative scientists, professors, research 
                scholars, students and industrial experts in
                the field of Computing and Communication to
                a common forum. The primary goal of the 
                conference is to promote the exchange of
                innovative scientific information 
                between researchers, developers,
                engineers, students, and practitioners. 
                Another goal is to promote the transformation
                of fundamental research into institutional 
                and industrialized research and to convert 
                applied exploration into real time application. 
                Overall the conference will provide the researchers 
                and attendees with prospects for national and 
                international collaboration and networking among 
                universities and institutions from India and abroad for 
                promoting research. ICDAM- 2021 is organized jointly by 
                Jan Wyzykowski University, Polkowise, Poland & Panipat 
                Institute of Engineering and Technology, India on 26th 
                June 2021. All the accepted papers (after double blinded 
                peer review) will be published in <strong>
                    Springer’s Lecture 
                Notes on Data Engineering and Communications Technologies 
                [Indexing: SCOPUS, INSPEC, EI Compendex, WoS]
                </strong> and extended
                selected papers will be published in the special issues of 
                SCI/SCOPUS/WoS/DBLP/ACM indexed Journals.</p>

                <p class="highlighted">
                    All accepted papers will be published in Scopus and WoS Indexed Springer Series on Lecture Notes on Data Engineering and Communications Technologies and Extended papers to the following Journals:
                    <br />
                    <br />
                    1. Multimedia Tools and Applications, Springer (SCI IF 2.31) <br />
                    2. Expert Systems, Wiley (SCI IF 1.54) <br />
                    3. International Journal of High Performance Systems Architecture (SCOPUS) <br />
                    4. International Journal of Information and Communication Technology (SCOPUS) <br />
                    5. International Journal of Data Analysis Techniques and Strategies (SCOPUS) <br />
                    6. International Journal of Pervasive Computing and Communications (SCOPUS, ESCI) <br />
                </p>
                <span>Paper Submission Link : <a target="_blank" href="https://easychair.org/conferences/?conf=icdam2021">Easy Chair Submission Portal</a></span>
        </div>

        <div class="marquee_section">
            <div class="downloads_marquee marquee_list" id="downloads">
                <div class="marquee_headline">Downloads</div>
                <div class="item-list">
                    <div class="itemdlist">
                        <span>Manu Script Guidelines</span>
                        <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span></div>
                    <div class="itemdlist">
                        <span>Checklist</span>
                        <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span></div>
                    <div class="itemdlist">
                        <span>Springer Word Template</span>
                        <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span></div>
                    <div class="itemdlist">
                        <span>Springer La Tex Template</span>
                        <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span></div>
                    <div class="itemdlist">
                        <span>Consent to Publish Form Springer</span>
                        <span><img src="/assets/images/svgs/download-outline.svg" alt=""></span></div>
                </div>
            </div>
            <div class="impdates_marquee marquee_list" id="impdates">
                <div class="marquee_headline">Important Dates</div>
                <div class="item-list">
                    <div class="itemilist">
                        <span class="devent">Registration Deadline</span>
                        <span class="date">May 31st, 2021</span>
                    </div>
                    <div class="itemilist">
                        <span class="devent">Submission Deadline</span>
                        <span class="date">May 31st, 2021</span>
                    </div>
                    <div class="itemilist">
                        <span class="devent">Notification of Accept/Reject</span>
                        <span class="date">May 15th, 2021</span>
                    </div>
                    <div class="itemilist">
                        <span class="devent">Final Paper Due</span>
                        <span class="date">May 31st, 2021</span>
                    </div>
                    <div class="itemilist">
                        <span class="devent">Conference Date</span>
                        <span class="date">June 26th, 2021</span>
                    </div>
                </div>
            </div>
            <div class="notices_marquee marquee_list">
                <div class="marquee_headline">Notices</div>
                <div class="item-list">
                    <div class="itemnlist">ICDAM-2021 will be held at UJW, Poland</div>
                    <div class="itemnlist">ICDAM-2021 is Jointly organised by JAN WYZYKOWSKI UNIVERSITY, POLAND & PANIPAT INSTITUTE OF ENGINEERING AND TECHNOLOGY, INDIA</div>
                    <div class="itemnlist">Proceedings of ICDAM 2021 has been approved by Springer. All the accepted papers will be published in Springer “Lecture Notes on Data Engineering and Communications Technologies” (https://www.springer.com/series/15362).</div>
                    <div class="itemnlist">The selected high quality extended papers of the conference will be invited to submit for publication in the special issues of the following journals: Multimedia Tools and Applications (SCI), Expert Systems (SCI), Electronics (SCI), IJHPSA (Scopus), IJICT (Scopus), IJPCC (Scopus, ESCI), IJPE (Scopus) and many more.</div>
                </div>
            </div>
        </div>

        <!-- partners section -->
        <h1 class="pro-partners">Proceeding Partners</h1>
        <div class="partner_container">
            <div class="partner_box">
                <img src="/assets/images/partners/13.png">
                <span class="partner-title">Springer</span>
            </div>
            <div class="partner_box">
                <img src="/assets/images/partners/14.png">
                <span class="partner-title">Lecture Notes on Data Engineering <br /> and Communication Technologies</span>
            </div>
        </div>

    <%- include("./Components/footer.ejs") %>
    </div>
    <script src="/assets/scripts/jquery.js"></script>
    <script src="/assets/scripts/operations.js"></script>
    <script src="/assets/scripts/smoothscroll.js"></script>
</body>
</html>