<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/publication.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');
    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="publication_container">
                    <h1 class="publication_headline">Publication</h1>
                    <div class="journal_container">
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/11.jpg" alt="Journal"></div>
                            <div class="journal-title">Sustainable Energy Technologies and Assessments (Elsevier)</div>
                            <div class="journal-link">
                            <a href="https://www.sciencedirect.com/journal/sustainable-energy-technologies-and-assessments" target="_blank">Visit Journal</a></div>
                            <div class="indexing">SCIE Indexed IF 5.35</div>
                        </div>
                        
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/12.jpg" alt="Journal"></div>
                            <div class="journal-title">CMES-Computer Modeling in Engineering & Sciences 
                            </div>
                            <div class="journal-link">
                            <a href="https://journals.indexcopernicus.com/search/details?id=3679" target="_blank">Visit Journal</a></div>
                            <div class="indexing">SCIE Indexed IF 1.59</div>
                        </div>
                        
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/13.jpg" alt="Journal"></div>
                            <div class="journal-title">Intelligent Decision Technologies</div>
                            <div class="journal-link">
                            <a href="https://www.iospress.com/catalog/journals/intelligent-decision-technologies" target="_blank">Visit Journal</a></div>
                            <div class="indexing">Indexed by SCOPUS & ESCI</div>
                        </div>
                        
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/14.jpg" alt="Journal"></div>
                            <div class="journal-title">Frontiers in Computational Neuroscience</div>
                            <div class="journal-link"><a href="https://www.springer.com/journal/10827"
                                    target="_blank">Visit Journal</a></div>
                            <div class="indexing">SCIE Indexed IF 2.38</div>
                        </div>
                        
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/15.jpg" alt="Journal"></div>
                            <div class="journal-title">IET Communications </div>
                            <div class="journal-link">
                            <a href="#" target="_blank">Visit Journal</a></div>
                            <div class="indexing">SCIE Indexed IF 1.19</div>
                        </div>
                        
                        <div class="journal">
                            <div class="journal-image"><img src="/assets/images/journals/16.jpg" alt="Journal"></div>
                            <div class="journal-title">CMC-Computers, Materials & Continua </div>
                            <div class="journal-link">
                            <a href="#" target="_blank">Visit Journal</a></div>
                            <div class="indexing">SCIE Indexed IF 3.77</div>
                        </div>
                        
                    </div>
                </div>
                <%- include("./Components/footer.ejs") %>
                    <script src="/assets/scripts/operations.js"></script>
                    <script>
                        document.querySelector(".publication_container").style.cssText = "visibility: hidden; opacity: 0";
                        document.addEventListener("DOMContentLoaded", () => { setTimeout(() => { document.querySelector(".publication_container").removeAttribute("style") }, 1000) })
                    </script>
</body>

</html>