<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/publication.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
</head>
<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="publication_container">
        <h1 class="publication_headline">Publication</h1>
        <div class="journal_container">
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/1.jpg" alt="Journal"></div>
                <div class="journal-title">International Journal of Data Analysis Techniques and Strategies</div>
                <div class="journal-link"><a href="https://www.inderscience.com/jhome.php?jcode=ijdats" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: Scopus</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/2.jpg" alt="Journal"></div>
                <div class="journal-title">International Journal of Information and Communication Technology</div>
                <div class="journal-link"><a href="https://www.inderscience.com/jhome.php?jcode=ijict" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: Scopus</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/3.jpg" alt="Journal"></div>
                <div class="journal-title">International Journal of High Performance Systems Architecture</div>
                <div class="journal-link"><a href="https://www.inderscience.com/jhome.php?jcode=ijhpsa" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: Scopus</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/4.jpg" alt="Journal"></div>
                <div class="journal-title">Multimedia Tools and Applications</div>
                <div class="journal-link"><a href="https://www.springer.com/journal/11042" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: SCI IF 2.31</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/5.png" alt="Journal"></div>
                <div class="journal-title">International Journal of Pervasive Computing and Communications</div>
                <div class="journal-link"><a href="https://www.emeraldgrouppublishing.com/journal/ijpcc" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: Scopus, ESCI</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/6.jpg" alt="Journal"></div>
                <div class="journal-title">Electronics</div>
                <div class="journal-link"><a href="https://www.mdpi.com/journal/electronics" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: SCI IF 2.41</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/7.jpeg" alt="Journal"></div>
                <div class="journal-title">Journal of Artificial Intelligence and Systems</div>
                <div class="journal-link"><a href="https://iecscience.org/journals/AIS" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: IEC</div>
            </div>
            <div class="journal">
                <div class="journal-image"><img src="/assets/images/journals/8.jpg" alt="Journal"></div>
                <div class="journal-title">Innovative Computing and Communication: An international Journal</div>
                <div class="journal-link"><a href="https://icc-journal.com/" target="_blank">Visit Journal</a></div>
                <div class="indexing">Indexing: ICC Journal</div>
            </div>
        </div>
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
</body>
</html>