<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/spl_session.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
</head>
<body>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="special_session_container">
        <!-- <div class="no-sessions"> No Special Sessions Registered </div> -->
        <h1 class="section_heading">Special Sessions</h1>
        <div class="spl_session_con">
            <div class="special-session">
                <a href="/assets/special-sessions/SS_001.pdf" class="anchor">SS_001: Big Data Analytics and Artificial intelligence in business and marketing</a>
                <div class="organsizer">Dr. Ratneshwer, JNU, India; Swati Goel, JNU, India</div>
                <span class="anchor_name">Ss 001.pdf</span>
            </div>
            <div class="special-session">
                <a href="/assets/special-sessions/SS_002.pdf" class="anchor">SS_002: Fault Tolerance and Software Architecture</a>
                <div class="organizer">Dr. Kiran Chaudhary, Shivaji College, University of Delhi; Dr. Mansaf Alam, Big Data, Cloud Computing and IoT Laboratory, Department of Computer Science, Jamia Millia Islamia, New Delhi</div>
                <span class="anchor_name">Ss 002.pdf</span>
            </div>
        </div>
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
</body>
</html>