<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/spl_session.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="special_session_container">
                    <!-- <div class="no-sessions"> No Special Sessions Registered </div> -->
                    <h1 class="section_heading">Special Sessions</h1>
                    <div class="spl_session_con">
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_001.pdf" class="anchor">SS_001: Big Data Analytics and
                                Artificial intelligence in business and marketing</a>
                            <div class="organizer">Dr. Kiran Chaudhary, Shivaji College, University of Delhi; Dr. Mansaf
                                Alam, Big Data, Cloud Computing and IoT Laboratory, Department of Computer Science,
                                Jamia Millia Islamia, New Delhi</div>
                            <span class="anchor_name">Ss 001.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_002.pdf" class="anchor">SS_002: Fault Tolerance and
                                Software Architecture</a>
                            <div class="organsizer">Dr. Ratneshwer, JNU, India; Swati Goel, JNU, India</div>
                            <span class="anchor_name">Ss 002.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_003.pdf" class="anchor">SS_003: Recent Advancement in
                                Use of Machine learning and IoT for Smart Communication System</a>
                            <div class="organizer">Dr. Amrita Rai, G. L. Bajaj Institute of Technology and Management,
                                Greater Noida, India; Dr. Reshu Agarwal, Amity Institute of Information Technology,
                                Amity University, Noida, India</div>
                            <span class="anchor_name">Ss 003.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_004.pdf" class="anchor">SS_004: DATA MANAGEMENT WITH
                                SMART WORLD TECHNOLOGIES</a>
                            <div class="organizer">Dr. Megha Gupta,Mata Sundri College for Women, University of Delhi,
                                India; Ms. Aakanksha Chopra Department of Information Technology, JIMS, Rohini, New
                                Delhi, India</div>
                            <span class="anchor_name">Ss 004.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_005.pdf" class="anchor">SS_005: Recent Advances in
                                Intelligent Systems and Communication & Machine Learning</a>
                            <div class="organizer">Dr. Vikash Yadav, Dr. APJ AKTU Lucknow, India; Mr. Rohit Anand, G.B.
                                Pant Engineering College, New Delhi, India</div>
                            <span class="anchor_name">Ss 005.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_006.pdf" class="anchor">SS_006: Advanced practices in
                                Cybersecurity and Smart Communication Techniques</a>
                            <div class="organizer">Prof. Akashdeep Bhardwaj, University of Petroleum and Energy Studies,
                                India; Keshav Kaushik, University of Petroleum and Energy Studies, India</div>
                            <span class="anchor_name">Ss 006.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_007.pdf" class="anchor">SS_007: Computation
                                Intelligence for Business Analytics.</a>
                            <div class="organizer">Dr. Shikha Mehta, Jaypee Institute of Information Technology, India;
                                Dr. Parul Agarwal, Jaypee Institute of Information Technology, India</div>
                            <span class="anchor_name">Ss 007.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_008.pdf" class="anchor">SS_008: Business Technology,
                                Digitalization & E-Commerce</a>
                            <div class="organizer">Dr Arvind Kumar Bhatt, GL Bajaj Institute of Management and
                                Research.PGDM Institute, India; Prof. Dr Ajay Kumar, Director, GL Bajaj Institute of
                                Management and Research.PGDM, India</div>
                            <span class="anchor_name">Ss 008.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_009.pdf" class="anchor">SS_009: EXPERT APPLICATIONS
                                BASED ON IOT, CLOUD COMPUTING & BIGDATA</a>
                            <div class="organizer">
                                Prof. (Dr.) Vijay Singh Rathore, IIS (deemed to be) University,Jaipur, India;<br />
                                Prof. (Dr.) C. K. Kumbharana, Saurashtra University, Rajkot;<br />
                                Prof.(Dr.) P. V. Virparia, Head, Department of Computer Science, Sardar Patel University;<br />
                                Prof. (Dr.) M. Hanumanthappa, Bangalore University, Bangalore;<br />
                                Prof.(Dr.) S. Kartihik, SNS Engineering College, Coimbatore;<br />
                                Prof. (Dr.) Sumeet Gill, MDU, Rohtak;<br />
                                Dr. Suresh Kumar, Saveetha Engineering College, Chennai;<br />
                            </div>
                            <span class="anchor_name">Ss 009.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_010.pdf" class="anchor">SS_010: Recent trends on Cloud
                                Computing, IoT, Blockchain, Machine Learning and Bigdata for Wireless Networks</a>
                            <div class="organizer">Dr. Arvind Dagur, EVedant Foundation, Ghaziabad, Uttar Pradesh,
                                India; Dr. Pawan Singh Mehra, Delhi Technological University, New Delhi; Dr. Sandeep
                                Singh Sengar, University of Copenhagen, Denmark; Aatif Jamshed, ABES Engineering
                                College, Ghaziabad, Uttar Pradesh, India; Dr. Bipin Kumar Rai, ABESIT College of
                                Engineering, Ghaziabad, Uttar Pradesh, India; Anshu Kumar Dwivedi, Madan Mohan Malaviya
                                University of Technology, India</div>
                            <span class="anchor_name">Ss 010.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_011.pdf" class="anchor">SS_011: Intelligent
                                Technologies and its Applications</a>
                            <div class="organizer">Dr Bramah Hazela, Amity University, Lucknow Campus, India; Dr Sachin
                                Kumar, Amity University, Lucknow Campus, India; Ms. Pallavi Asthana, Amity University,
                                Lucknow Campus, India</div>
                            <span class="anchor_name">Ss 011.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_012.pdf" class="anchor">SS_012: Technical Insights:
                                Compose the Future</a>
                            <div class="organizer">Dr. Ashish Kumar, ITS Engineering College, Greater Noida, India; Mr.
                                K P Singh, ITS Engineering College, Greater Noida, India</div>
                            <span class="anchor_name">Ss 012.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_013.pdf" class="anchor">SS_013: Application of Machine
                                Learning, Deep Learning and Artificial Intelligence</a>
                            <div class="organizer">Dr. Archana Singh, Amity School of Engineering and Technology, India
                            </div>
                            <span class="anchor_name">Ss 013.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_014.pdf" class="anchor">SS_014: Artificial Intelligence
                                and Machine Learning in Healthcare System: Recent Trends and Future Scope</a>
                            <div class="organizer">Dr. Hari Singh, JUIT, India; Dr. Himanshu Jindal, JUIT, India</div>
                            <span class="anchor_name">Ss 014.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_015.pdf" class="anchor">SS_015: Futuristic Approaches,
                                Applications &Implementations Using Data Sciences and Machine
                                Learning</a>
                            <div class="organizer">Dr. Dinesh Chander Verma, PIET Panipat, Haryana, India;
                                Dr. Sarfaraz Masood, Jamia Millia Islamia, New Delhi, India,</div>
                            <span class="anchor_name">Ss 015.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_016.pdf" class="anchor">SS_016: INNOVATION,
                                ENTREPRENEURSHIP &
                                CONTEMPORARY RESEARCH IN DATA SCIENCE</a>
                            <div class="organizer">Dr. Amita Sharma, IIS(Deemed to be University),Jaipur;
                                Dr. Roopam Kothari, IIS(Deemed to be University),Jaipur; Dr. Kavya Saini, International
                                School of Informatics and
                                Management, Jaipur;Dr. Shweta Jain, ICFAI Business School,Jaipur;Dr. Anju Singh,
                                IIS(Deemed to be University),Jaipur;
                                Mr. Dhrubajyoti Majumdar, L&T Constructions Limited, Kolkata; Mr Vivek Jha, Strategy &
                                Policy Expert-Delhi</div>
                            <span class="anchor_name">Ss 016.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_017.pdf" class="anchor">SS_017: MACHINE LEARNING &
                                BLOCK CHAIN FOR HEALTHCARE,
                                DISEASE AND DRUG MANAGEMENT IN GENOMICS</a>
                            <div class="organizer">Dr. Sreemoyee Chatterjee, IIS(deemed to be University), Jaipur;
                                V S Sundarajan, Ph.D,Data Scientist, Singapore;Dr. Amita Sharma, IIS(deemed to be
                                University);
                                Dr. Prashanth N Suravajhala, Birla Institute of Scientific Research
                                Statue Circle, Jaipur 302001 RJ, India;Dr.Shivani Chandra, Amity Institute of
                                Biotechnology,Noida;Dr. Neha Tiwari,IIS(deemed to be University);Dr. Ankur Saxena, Amity
                                University, UP, Noida </div>
                            <span class="anchor_name">Ss 017.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_018.pdf" class="anchor">SS_018: Certain Investigations
                                On Financial Crime Analysis Using Machine
                                Learning Approaches</a>
                            <div class="organizer">
                                Deepak Mane
                                Senior Data Scientist
                                Tata consultancy services
                            </div>
                            <span class="anchor_name">Ss 018.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_019.pdf" class="anchor">SS_019: Object Detection in
                                Medical Images using Image Segmentation and Deep Learning Techniques</a>
                            <div class="organizer">Deepak Mane
                                Senior Data Scientist
                                Tata consultancy services, Australia</div>
                            <span class="anchor_name">Ss 019.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_020.pdf" class="anchor">SS_020: Medical applications in
                                Big Data using deep learning algorithms</a>
                            <div class="organizer">Dr. S. Vimal,Ramco Institute of Technology;
                                Dr. K. Vijayalakshmi, Ramco Institute of Technology;
                                .Dr .M.Kaliappan, Ramco Institute of Technology; Dr. Y. Harold Robinson, Vellore
                                Institute of Technology,
                                Vellore, India.</div>
                            <span class="anchor_name">Ss 020.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_021.pdf" class="anchor">SS_021: RECENT ADVANCEMENTS IN
                                BIG DATA ANALYTICS, DATA SCIENCES AND NEURAL NETWORKS</a>
                            <div class="organizer">Dr. Preeti Nagrath, Dr. Rachna Jain
                                Assistant Professor, Bharati Vidyapeeth’s college of Engineering, New Delhi, India</div>
                            <span class="anchor_name">Ss 021.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_022.pdf" class="anchor">SS_022: RESEARCH PARADIGM ON
                                COMMUNICATION,
                                COMPUTING AND DATA SCIENCES (RP2CD)
                            </a>
                            <div class="organizer">Dr K. Suresh Kumar,
                                Saveetha Engineering College, Tamil Nadu. India;
                                Dr P. Valarmathie,
                                Saveetha Engineering College, Tamil Nadu, India.</div>
                            <span class="anchor_name">Ss 022.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_023.pdf" class="anchor">SS_023: Recent Trends in
                                Information Security, Data Science, Cloud, Image Processing and Information
                                Technology</a>
                            <div class="organizer">Dr. Vijeta Kumawat, Jaipur Engineering College and Research Centre,
                                Jaipur;
                                Dr. Nilam Choudhary, Jaipur Engineering College and Research Centre, Jaipur;
                                Dr. Astha Pareek, IIS (deemed to be) University, Jaipur</div>
                            <span class="anchor_name">Ss 023.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_024.pdf" class="anchor">SS_024: Data Mining and Machine
                                Learning for
                                Software Engineering
                            </a>
                            <div class="organizer">Dr. Astha Pareek, IIS (deemed to be) University, Jaipur;Dr. Geetika
                                Vyas, IIS (deemed to be) University, Jaipur;
                                Dr. Navneet Sharma, IIS (deemed to be) University, Jaipur;Dr. Vijay Singh Rathore, IIS
                                (deemed to be) University, Jaipur;
                                Prof. Kawaljeet Singh,Punjabi University, Patiala;Dr.Sachi Nandan Mohanty,College of
                                Engineering Pune, Pune India;
                                Dr. Anubha Jain, IIS (deemed to be) University, Jaipur; Dr. Sonali Vyas, University of
                                Petroleum and Energy Studies, India
                            </div>
                            <span class="anchor_name">Ss 024.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_025.pdf" class="anchor">SS_025: DATA MANAGEMENT FOR
                                EFFICIENT GREEN COMPUTING
                            </a>
                            <div class="organizer">Dr. Deepshikha Bhatia, IIS (deemed to be) University, Jaipur;
                                Dr. Durgesh Kumar Mishra, Sri Aurobindo institute of technology Indore MP;
                                Dr. Priyanka Verma, IIS (deemed to be) University, Jaipur; Dr. Nishtha Kesswani,Central
                                University, Ajmer;
                                Dr. Ruchi Nanda, IIS (deemed to be) University, Jaipur; Prof Swati V Chande,
                                International school of Informatics and
                                Management,Jaipur; Harshita Bhargava, IIS (deemed to be) University, Jaipur; Rajneesh
                                Chaturvedi, IIS (deemed to be) University, Jaipur
                            </div>
                            <span class="anchor_name">Ss 025.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_026.pdf" class="anchor">SS_026: Computational Intelligence in Big Data Analytics with Machine Learning and
                                Artificial Intelligence
                            </a>
                            <div class="organizer">Dr. Ankur Saxena ,Amity University, India
                            </div>
                            <span class="anchor_name">Ss 026.pdf</span>
                        </div>
                        <div class="special-session">
                            <a href="/assets/special-sessions/SS_027.pdf" class="anchor">SS_027: High Performance and Smart Computation</a>
                            <div class="organizer">
                                Dr. Akash Saxena, Professor & Head CITM College Jaipur Rajashthan India;
                                Dr. Vikram Rajpoot, Department of CEA GLA University Mathura UP India;
                                Dr. Ankur Chaturvedi, Department of CEA GLA University Mathura UP India;
                            </div>
                            <span class="anchor_name">Ss 027.pdf</span>
                        </div>
                    </div>
                </div>
                <%- include("./Components/footer.ejs") %>
                    <script src="/assets/scripts/operations.js"></script>
</body>

</html>