<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/spl_session.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');

    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="special_session_container">

        <h1 class="section_heading">Special Sessions</h1>
        <!--                     <div class="no-sessions"> No Special Sessions Registered </div>-->
        <div class="spl_session_con">
            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-01.pdf" class="anchor">SS_001: Recent Advances in Intelligent Systems and Communication & Machine Learning</a>
                <div class="organizer">Dr. Vikash Yadav, Department of Technical Education; Dr. Khushboo Tripathi, Amity University Haryana</div>
                <span class="anchor_name">Special Session_01.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-02.pdf" class="anchor">SS_002: Data Science and AI Applications in the field of Engineering & Healthcare </a>
                <div class="organsizer">Dr. Sarojadevi H. Professor & Head, CSE Nitte Meenakshi Institute of Technology, Bengaluru; Dr.Piyush Kumar Pareek Professor (CSE) & Head of IPR Cell Nitte Meenakshi Institute of Technology, Bengaluru</div>
                <span class="anchor_name">Special Session_02.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-03.pdf" class="anchor">SS_003: REmerging Applications of Green Wireless Network, Deep Learning, Internet of Things and its impact on Industry 4.0 </a>
                <div class="organizer">Dr. A.Suresh, Dr. S.Vimal, Dr. R.Udendhran </div>
                <span class="anchor_name">Special Session_03.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-04.pdf" class="anchor">SS_004: Data science based digital technology as an enabler for Management and Financial inclusion </a>
                <div class="organizer">Assist. Prof. Dr. Enkeleda Lulaj, University “Haxhi Zeka”, Kosovo</div>
                <span class="anchor_name">Special Session_04.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-05.pdf" class="anchor">SS_005: Deep Learning Technologies: Architecture, Optimization, Techniques, and Applications </a>
                <div class="organizer">Dr.Dhanya N M, Assistant Professor(S.Gr), Computer Science and Engineering Department, Amrita Vishwa VidyaPeetham, India; Dr.Sikha O K, Assistant Professor(Sr.Gr), Computer Science and Engineering Department, Amrita Vishwa VidyaPeetham, India; Dr.Anbazhhagan M, Assistant Professor, Computer Science and Engineering Department, Amrita Vishwa VidyaPeetham , India; Dr.C.Selvi, Assistant Professor, Computer Science and Engineering Department, Amrita Vishwa VidyaPeetham , India; Dr. Nickolas. S, Professor, Dept of computer applications, NIT Trichy, India </div>
                <span class="anchor_name">Special Session_05.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-06.pdf" class="anchor">SS_006: Biomedical Natural Language Processing </a>
                <div class="organizer">Dr Manu Madhavan, Amrita Vishwa Vidyapeetham, India; Bindu K R, Amrita Vishwa Vidyapeetham, India; Jeena K, Amrita Vishwa Vidyapeetham, India</div>
                <span class="anchor_name">Special Session_06.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-07.pdf" class="anchor">SS_007: Financial Data Analytics in Leading the Business </a>
                <div class="organizer">Dr. V. Ramanujam, Associate Professor, Bharathiar School of Management & Entrepreneur Development, Bharathiar University, Coimbatore, India. </div>
                <span class="anchor_name">Special Session_07.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-08.pdf" class="anchor">SS_008: Emerging Computing Technologies and its Business applications </a>
                <div class="organizer">Anshul Saxena, Christ University, India; Jayant Mahajan, Christ University, India; Amar Vidhate DY Patil University, India; Irfan Siddavatam, Somaiya Vidyavihar University, India; Nivedita Dey, QRDLab, India; Debdeep Mitra, QRDLab,India; Vineet Kumar, Cyber Peace Foundation, India; Shadab Hussain, Quantum Computing India. </div>
                <span class="anchor_name">Special Session_08.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-09.pdf" class="anchor">SS_009: AI and Machine Learning for Block chain, Social network analysis and Computational Intelligence Optimization</a>
                <div class="organizer">Dr. Umesh Gupta, Bennett University, India, Dr. Vishal Srivastava, Bennett University, India.</div>
                <span class="anchor_name">Special Session_09.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-10.pdf" class="anchor">SS_010: Smart Technologies and Big Data Analytics: Concept, Framework, Applications and Challenges </a>
                <div class="organizer">Dr. Sita Rani , Gulzar Group of Institutes, Khanna, Punjab, India; Dr. Pankaj Bhambri, Guru Nanak Dev Engineering College, Ludhiana, Punjab, India; Dr. Ahmed A. Elngar, Beni-Suef University, Beni-Suef City, Egypt.</div>
                <span class="anchor_name">Special Session_10.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-11.pdf" class="anchor">SS_011: Futuristic and Current Trends in Information Technologies </a>
                <div class="organizer">Dr. Puneet Kumar Aggarwal, ABES Engineering College, India; Dr. Parita Jain, KIET Group of Institutions, India. </div>
                <span class="anchor_name">Special Session_11.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-12.pdf" class="anchor">SS_012: Advances in circuits and system design for wearable and IOT applications</a>
                <div class="organizer">Assoc Prof (Dr.) Manoj Sharma Bharati Vidyapeeth's College of Engineering, Paschim Vihar, New Delhi, India,</div>
                <span class="anchor_name">Special Session_12.pdf</span>
            </div>

            <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-13.pdf" class="anchor">SS_013: Healthcare Information Management with emerging Blockchain Technology.
                </a>
                <div class="organizer">Dr. Dalip, Assistant Professor, MMICTBM, Maharishi Markandeshwar (deemed to be) University, Mullana – Ambala (Haryana), INDIA; Er. Arvind Sharma, Associate - Project, IIT Mandi iHub & HCI Foundation, Mandi (Himachal
                Pradesh), INDIA; Er. Savita Wadhawan, Assistant Professor, MMICTBM, Maharishi Markandeshwar (deemed to be)
                University, INDIA; Dr. Sharad Bali, Professor, General Surgery, Maharishi Markandeshwar Institute of Medical
                Sciences & Research, Maharishi Markandeshwar (Deemed to be University), Mullana, India.</div>
                <span class="anchor_name">Special Session_13.pdf</span>
            </div>
            
             <div class="special-session">
                <a href="/assets/special-sessions/Special_session(2022)-14.pdf" class="anchor">SS_014: Innovations in New Age Computational Science and Applied Mathematics (INACSAM)</a>
                <div class="organizer">Dr. Amit Choudhary, Maharaja Surajmal Institute,Janakpuri, New Delhi-110058, INDIA; Dr. Savita Ahlawat,Maharaja Surajmal Institute of Technology,Janakpuri, New Delhi, India; Dr.Sitender,Maharaja Surajmal Institute of Technology,Janakpuri, New Delhi-110058, INDIA; Dr.Sangeeta,Maharaja Surajmal Institute of Technology,Janakpuri, New Delhi-110058, INDIA; Dr.Lalit Garg, University of Malta, Malta</div>
                <span class="anchor_name">Special Session_14.pdf</span>
            </div>
        </div>
    </div>

    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
    <script>
        document.querySelector(".special_session_container").style.cssText = "visibility: hidden; opacity: 0";
        document.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                document.querySelector(".special_session_container").removeAttribute("style")
            }, 1000)
        })

    </script>
</body>

</html>
