<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/sponsorship.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');
    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
        <%- include("./Components/header.ejs") %>
            <%- include("./Components/sidebar.ejs") %>
                <div class="sponsorship_container">
                    <h1 class="page_headline">Sponsorship</h1>
                    <div class="invi_letter_container">
                        <h3 class="invi_head">INVITATION LETTER FOR SPONSORSHIP</h3>
                        <h5>Dear Technology Leader,</h5>
                        <p class="invi-body">
                            In the era of digital revolution where world is becoming
                            smaller and a lot of new technologies are being launched simultaneously.
                            The ongoing saga of the computing and communication digital revolution,
                            the new mantra - Extend and Adapt, has produced ripples of excitement
                            in the industry and academia! Therefore, to make a developed India and
                            to match the speed of these above mentioned challenges joint efforts from
                            Industry and Academia are required. Academia is doing its bit by organizing
                            the international conference ICICC-2020 and bringing together worlds the
                            best technological brains and ideas under one roof. <strong>This kind of
                                initiative require lot of efforts and funding.</strong>
                            <br />
                            <br />
                            Third International Conference on Data Analytics and Management
                            (ICDAM-2021) is organized with the objective of bringing together
                            innovative scientists, professors, research scholars, students and
                            industrial experts in the field of Data Analytics and Management
                            to a common forum. The primary goal of the conference is to promote
                            the exchange of innovative scientific information between researchers,
                            developers, engineers, students, and practitioners.
                            This conference will try to take the research to the new level
                            with the motive of applying research into the development of startups
                            and industry-based applications. It will also bridge the gap
                            between industry/ Start-up requirements and research-based activities
                            that further will give a new direction to the research happening in
                            and around the world. Another goal is to promote the transformation
                            of fundamental research into institutional and industrialized research
                            and to convert applied exploration into real time application.
                            Overall the conference will provide the researchers and attendees
                            with prospects for national and international collaboration and
                            networking among universities and institutions from India and abroad
                            for promoting research. An institute initiated to impart quality
                            education to the youth while equipping them with knowledge and skills
                            which would enable them to leave their individual mark in the
                            business world.
                            <br />
                            <br />
                            The committee of professionals dedicated towards the conference is striving to achieve a
                            high quality technical program with Tracks on Innovative Computing, <strong>Innovative
                                Communication Network and Security, and Internet of Things.</strong> The highlights of
                            the conference are as follows:
                        </p>
                        <div class="highlights_container">
                            <div class="highlight">Top international and national Keynote speakers.</div>
                            <div class="highlight">Regular research paper presentation sessions.</div>
                            <div class="highlight">Amalgam of the best national and international minds</div>
                            <div class="highlight">Integration of experienced and young researchers.</div>
                            <div class="highlight">Technical Poster Paper presentation among the best students of India.
                            </div>
                            <div class="highlight">Start up funding event for MAKE IN INDIA mission.</div>
                            <div class="highlight">Invitation to possible investors for some of the best ideas.</div>
                            <div class="highlight">Exhibits.</div>
                            <div class="highlight">International parallel workshops from national and international
                                researchers and Industry Experts.</div>
                            <div class="highlight">Expected audience of minimum 500, comprised of researchers,
                                scientists, & People from acamedia and industry.</div>
                            <div class="highlight">Last year version of the conference being held at Czech Republic,
                                Europe, received papers of around 2600 authors from 25 different countries.</div>
                        </div>
                        <p class="invi-body">As a spearheading force in the industry driving forward this
                            revolution, ICDAM-2021 provides just the right platform and visibility to
                            showcase your company, its vision and its technological offerings to a
                            wide spectrum of professionals. Your participation will give an
                            opportunity to nurture the talent pool and spur a collaborative
                            atmosphere necessary for progress.
                            <br />
                            <br />
                            Kindly see the various sponsorship packages and offers and give us an opportunity to
                            collaborate on this initiative and work together for its success right from the outset.
                        </p>
                        <h5>Yours sincerely,</h5>
                        <h5>General Chair</h5>
                    </div>
                </div>
                <%- include("./Components/footer.ejs") %>
                    <script src="/assets/scripts/operations.js"></script>
</body>

</html>