<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
    <title>ICDAM | International Conference on Data Analytics and Management</title>
    <link rel="stylesheet" href="/assets/css/venue.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/sidebar.css">
    <link rel="icon" href="/assets/images/gurunanak.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X5ZTVY0WMV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-X5ZTVY0WMV');

    </script>
</head>

<body>
    <%- include("./Components/loader.ejs") %>
    <%- include("./Components/header.ejs") %>
    <%- include("./Components/sidebar.ejs") %>
    <div class="venue_container">
        <div class="main_container">
            <h1 class="section_heading">Conference Venue</h1>
            <h2>THE KARKONOSZE STATE UNIVERSITY OF APPLIED SCIENCE</h2>
            <div class="map_container">
                <iframe width="100%" height="500" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.4961136495654!2d15.725684615174623!3d50.914539061697795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470ede34aa410c8d%3A0x4583dba3f739d55e!2sKarkonoska%20Pa%C5%84stwowa%20Szko%C5%82a%20Wy%C5%BCsza%20w%20Jeleniej%20G%C3%B3rze!5e0!3m2!1sen!2sin!4v1637046443037!5m2!1sen!2sin" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
    </div>
    <%- include("./Components/footer.ejs") %>
    <script src="/assets/scripts/operations.js"></script>
</body>

</html>
